---
import ReviewsCard from '@/components/ReviewsCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllReviewTags, getReviewsByTag } from '@/lib/data-utils'

export async function getStaticPaths() {
  const tagMap = await getAllReviewTags()
  const uniqueTags = Array.from(tagMap.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const reviews = await getReviewsByTag(tag)
      return {
        params: { id: tag },
        props: {
          tag,
          reviews,
        },
      }
    }),
  )
}

const { tag, reviews } = Astro.props
---

<Layout class="max-w-6xl ml-2">
  <PageHead
    slot="head"
    title={`Reviews tagged with "${tag}"`}
    description={`A collection of reviews tagged with ${tag}.`}
    noindex
  />
  <Breadcrumbs
    items={[
      { href: '/tags', label: 'Tags', icon: 'lucide:tags' },
      { label: tag, icon: 'lucide:tag' },
    ]}
  />

  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      reviews.map((review) => (
        <li>
          <ReviewsCard entry={review} />
        </li>
      ))
    }
  </ul>
</Layout>
